div.register {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block{
    width: 28%;
    display: flex;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
}

h2{
    margin-bottom: 5%;
}

form{
    margin: 5% auto;
    width: 80%;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
}
