header {
    height: 40px;
}

.header_flex {
    border: 1px solid red;
}

.label_header {
    background-color: #fff;
}
.input_header {
    background-color: #fff;
}

.label_header:hover {
    transform: none;
}